{
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": [2, {
      "args": "after-used",
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }]
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true,
    "commonjs": true,
    "node": true
  }
}
